body{
margin:0;
font-family:Inter;
background:#050907;
color:white;
}
.hidden{display:none}
.glass{
background:rgba(255,255,255,0.03);
backdrop-filter:blur(20px);
border:1px solid rgba(0,255,102,0.15);
border-radius:20px;
}

.topbar{
display:flex;
justify-content:space-between;
padding:15px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:20px;
}

.card{
padding:40px;
border-radius:20px;
background:rgba(255,255,255,0.04);
text-align:center;
cursor:pointer;
transition:.2s;
}
.card:hover{
transform:translateY(-6px);
border:1px solid #00ff66;
}

button{
padding:12px;
border-radius:999px;
border:none;
background:#00ff66;
font-weight:700;
cursor:pointer;
}

input{
padding:12px;
border-radius:12px;
border:none;
background:rgba(255,255,255,0.06);
color:white;
margin:5px 0;
}

.game{
padding:20px;
}